openapi: 3.0.3
info:
  title: Yahoo Fantasy Sports API Documentation
  description: Yahoo Fantasy Sports Rest API Documentation created by users
  version: 0.1.0
  license:
    name: Unknown
servers:
- url: https://fantasysports.yahooapis.com/fantasy/v2
  description: Yahoo REST API server
paths:
  "/game/{game_key}/metadata":
    get:
      tags: ["game resource"]
      summary: Returns metadata about one season, current or previous.
      parameters:
        - in: path
          name: game_key
          required: true
          description: The game id, either the game code (e.g., nfl) for current year, or game id (e.g., 414) for specific game+year
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                $ref: "#/components/schemas/game_metadata"
              examples:
                json:
                  summary: A sample JSON response from /game/414/metadata
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/game/414/metadata","game":[{"game_key":"414","game_id":"414","name":"Football","code":"nfl","type":"full","url":"https://football.fantasysports.yahoo.com/f1","season":"2022","is_registration_over":0,"is_game_over":0,"is_offseason":0,"is_live_draft_lobby_active":1}],"time":"16.779899597168ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}
  "/game/{game_key}/leagues;league_keys={league_keys}":
    get:
      tags: ["game resource"]
      summary: Fetch specific leagues under a game.
      parameters:
        - in: path
          name: game_key
          required: true
          description: The game id, either the game code (e.g., nfl) for current year, or game id (e.g., 414) for specific game+year
          schema:
            type: string
        - in: path
          name: league_keys
          required: true
          description: Comma-seperated list of league keys
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /game/223/leagues;league_keys=223.l.431
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/game/223/leagues;league_keys=223.l.431","game":[{"game_key":"223","game_id":"223","name":"Football PLUS","code":"pnfl","type":"full","url":"https://football.fantasysports.yahoo.com/2009/f2","season":"2009","is_registration_over":1,"is_game_over":1,"is_offseason":1},{"leagues":{"0":{"league":[{"league_key":"223.l.431","league_id":"431","name":"Y! Friends and Family League","url":"https://football.fantasysports.yahoo.com/2009/f2/431","logo_url":false,"draft_status":"postdraft","num_teams":14,"edit_key":"16","weekly_deadline":"","league_update_timestamp":"1262595518","scoring_type":"head","league_type":"private","renew":"","renewed":"242_334732","felo_tier":null,"iris_group_chat_id":"","allow_add_to_dl_extra_pos":0,"is_pro_league":"0","is_cash_league":"0","current_week":"16","start_week":"1","start_date":"2009-09-10","end_week":"16","end_date":"2009-12-28","is_finished":1,"game_code":"pnfl","season":"2009"}]},"count":1}}],"time":"101.29904747009ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}
                
  "/game/{game_key}/players;player_keys={player_keys}":
    get:
      tags: ["game resource"]
      summary: Fetch specified players under a game.
      parameters:
        - in: path
          name: game_key
          required: true
          description: The game id, either the game code (e.g., nfl) for current year, or game id (e.g., 414) for specific game+year
          schema:
            type: string
        - in: path
          name: player_keys
          required: true
          description: Comma-seperated list of player keys, such as 223.p.1025
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /game/223/players;player_keys=223.p.1025
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/game/223/players;player_keys=223.p.1025","game":[{"game_key":"223","game_id":"223","name":"Football PLUS","code":"pnfl","type":"full","url":"https://football.fantasysports.yahoo.com/2009/f2","season":"2009","is_registration_over":1,"is_game_over":1,"is_offseason":1},{"players":{"0":{"player":[[{"player_key":"223.p.1025"},{"player_id":"1025"},{"name":{"full":"Brett Favre","first":"Brett","last":"Favre","ascii_first":"Brett","ascii_last":"Favre"}},{"url":"https://sports.yahoo.com/nfl/players/1025"},{"editorial_player_key":"nfl.p.1025"},{"editorial_team_key":"nfl.t.16"},{"editorial_team_full_name":"Minnesota Vikings"},{"editorial_team_abbr":"Min"},{"editorial_team_url":"https://sports.yahoo.com/nfl/teams/minnesota/"},{"bye_weeks":{"week":"9"}},{"is_keeper":{"status":false,"cost":false}},{"uniform_number":"4"},{"display_position":"QB"},{"headshot":{"url":"https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAOHWf2QKLjIw--~C/YXBwaWQ9eXNwb3J0cztjaD0yMDA7Y3I9MTtjdz0xNTM7ZHg9NzQ7ZHk9MDtmaT11bGNyb3A7aD02MDtxPTEwMDt3PTQ2/https://s.yimg.com/dh/ap/default/140828/silhouette@2x.png","size":"small"},"image_url":"https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAOHWf2QKLjIw--~C/YXBwaWQ9eXNwb3J0cztjaD0yMDA7Y3I9MTtjdz0xNTM7ZHg9NzQ7ZHk9MDtmaT11bGNyb3A7aD02MDtxPTEwMDt3PTQ2/https://s.yimg.com/dh/ap/default/140828/silhouette@2x.png"},{"is_undroppable":"0"},{"position_type":"O"},[],{"eligible_positions":[{"position":"QB"}]},[],[],[]]]},"count":1}}],"time":"234.61198806763ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}
  "/game/{game_key}/game_weeks":
    get:
      tags: ["game resource"]
      summary: Fetch start and end date information for each week in the game
      parameters:
        - in: path
          name: game_key
          required: true
          description: The game id, either the game code (e.g., nfl) for current year, or game id (e.g., 414) for specific game+year
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /game/414/game_weeks
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/game/414/game_weeks","game":[{"game_key":"414","game_id":"414","name":"Football","code":"nfl","type":"full","url":"https://football.fantasysports.yahoo.com/f1","season":"2022","is_registration_over":0,"is_game_over":0,"is_offseason":0,"is_live_draft_lobby_active":1},{"game_weeks":{"0":{"game_week":{"week":"1","display_name":"1","start":"2022-09-08","end":"2022-09-12"}},"1":{"game_week":{"week":"2","display_name":"2","start":"2022-09-13","end":"2022-09-19"}},"2":{"game_week":{"week":"3","display_name":"3","start":"2022-09-20","end":"2022-09-26"}},"3":{"game_week":{"week":"4","display_name":"4","start":"2022-09-27","end":"2022-10-03"}},"4":{"game_week":{"week":"5","display_name":"5","start":"2022-10-04","end":"2022-10-10"}},"5":{"game_week":{"week":"6","display_name":"6","start":"2022-10-11","end":"2022-10-17"}},"6":{"game_week":{"week":"7","display_name":"7","start":"2022-10-18","end":"2022-10-24"}},"7":{"game_week":{"week":"8","display_name":"8","start":"2022-10-25","end":"2022-10-31"}},"8":{"game_week":{"week":"9","display_name":"9","start":"2022-11-01","end":"2022-11-07"}},"9":{"game_week":{"week":"10","display_name":"10","start":"2022-11-08","end":"2022-11-14"}},"10":{"game_week":{"week":"11","display_name":"11","start":"2022-11-15","end":"2022-11-21"}},"11":{"game_week":{"week":"12","display_name":"12","start":"2022-11-22","end":"2022-11-28"}},"12":{"game_week":{"week":"13","display_name":"13","start":"2022-11-29","end":"2022-12-05"}},"13":{"game_week":{"week":"14","display_name":"14","start":"2022-12-06","end":"2022-12-12"}},"14":{"game_week":{"week":"15","display_name":"15","start":"2022-12-13","end":"2022-12-19"}},"15":{"game_week":{"week":"16","display_name":"16","start":"2022-12-20","end":"2022-12-26"}},"16":{"game_week":{"week":"17","display_name":"17","start":"2022-12-27","end":"2023-01-02"}},"17":{"game_week":{"week":"18","display_name":"18","start":"2023-01-03","end":"2023-01-08"}},"count":18}}],"time":"18.059015274048ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}
  "/game/{game_key}/stat_categories":
    get:
      tags: ["game resource"]
      summary: Detailed description of all available stat categories for the game.
      parameters:
        - in: path
          name: game_key
          required: true
          description: The game id, either the game code (e.g., nfl) for current year, or game id (e.g., 414) for specific game+year
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /game/414/stat_categories
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/game/414/stat_categories","game":[{"game_key":"414","game_id":"414","name":"Football","code":"nfl","type":"full","url":"https://football.fantasysports.yahoo.com/f1","season":"2022","is_registration_over":0,"is_game_over":0,"is_offseason":0,"is_live_draft_lobby_active":1},{"stat_categories":{"stats":[{"stat":{"stat_id":0,"name":"Games Played","display_name":"GP","sort_order":"1","position_types":[{"position_type":"O"},{"position_type":"DP"},{"position_type":"K"},{"position_type":"DT"}]}},{"stat":{"stat_id":1,"name":"Passing Attempts","display_name":"Pass Att","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":2,"name":"Completions","display_name":"Comp","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":3,"name":"Incomplete Passes","display_name":"Inc","sort_order":"0","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":4,"name":"Passing Yards","display_name":"Pass Yds","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":5,"name":"Passing Touchdowns","display_name":"Pass TD","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":6,"name":"Interceptions","display_name":"Int","sort_order":"0","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":7,"name":"Sacks","display_name":"Sack","sort_order":"0","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":8,"name":"Rushing Attempts","display_name":"Rush Att","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":9,"name":"Rushing Yards","display_name":"Rush Yds","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":10,"name":"Rushing Touchdowns","display_name":"Rush TD","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":11,"name":"Receptions","display_name":"Rec","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":12,"name":"Receiving Yards","display_name":"Rec Yds","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":13,"name":"Receiving Touchdowns","display_name":"Rec TD","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":14,"name":"Return Yards","display_name":"Ret Yds","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":15,"name":"Return Touchdowns","display_name":"Ret TD","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":16,"name":"2-Point Conversions","display_name":"2-PT","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":17,"name":"Fumbles","display_name":"Fum","sort_order":"0","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":18,"name":"Fumbles Lost","display_name":"Fum Lost","sort_order":"0","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":19,"name":"Field Goals 0-19 Yards","display_name":"FG 0-19","sort_order":"1","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":20,"name":"Field Goals 20-29 Yards","display_name":"FG 20-29","sort_order":"1","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":21,"name":"Field Goals 30-39 Yards","display_name":"FG 30-39","sort_order":"1","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":22,"name":"Field Goals 40-49 Yards","display_name":"FG 40-49","sort_order":"1","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":23,"name":"Field Goals 50+ Yards","display_name":"FG 50+","sort_order":"1","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":24,"name":"Field Goals Missed 0-19 Yards","display_name":"FGM 0-19","sort_order":"0","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":25,"name":"Field Goals Missed 20-29 Yards","display_name":"FGM 20-29","sort_order":"0","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":26,"name":"Field Goals Missed 30-39 Yards","display_name":"FGM 30-39","sort_order":"0","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":27,"name":"Field Goals Missed 40-49 Yards","display_name":"FGM 40-49","sort_order":"0","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":28,"name":"Field Goals Missed 50+ Yards","display_name":"FGM 50+","sort_order":"0","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":29,"name":"Point After Attempt Made","display_name":"PAT Made","sort_order":"1","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":30,"name":"Point After Attempt Missed","display_name":"PAT Miss","sort_order":"0","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":31,"name":"Points Allowed","display_name":"Pts Allow","sort_order":"0","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":32,"name":"Sack","display_name":"Sack","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":33,"name":"Interception","display_name":"Int","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":34,"name":"Fumble Recovery","display_name":"Fum Rec","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":35,"name":"Touchdown","display_name":"TD","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":36,"name":"Safety","display_name":"Safe","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":37,"name":"Block Kick","display_name":"Blk Kick","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":38,"name":"Tackle Solo","display_name":"Tack Solo","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":39,"name":"Tackle Assist","display_name":"Tack Ast","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":40,"name":"Sack","display_name":"Sack","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":41,"name":"Interception","display_name":"Int","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":42,"name":"Fumble Force","display_name":"Fum Force","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":43,"name":"Fumble Recovery","display_name":"Fum Rec","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":44,"name":"Defensive Touchdown","display_name":"TD","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":45,"name":"Safety","display_name":"Safe","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":46,"name":"Pass Defended","display_name":"Pass Def","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":47,"name":"Block Kick","display_name":"Blk Kick","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":48,"name":"Return Yards","display_name":"Ret Yds","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":49,"name":"Kickoff and Punt Return Touchdowns","display_name":"Ret TD","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":50,"name":"Points Allowed 0 points","display_name":"Pts Allow 0","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":51,"name":"Points Allowed 1-6 points","display_name":"Pts Allow 1-6","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":52,"name":"Points Allowed 7-13 points","display_name":"Pts Allow 7-13","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":53,"name":"Points Allowed 14-20 points","display_name":"Pts Allow 14-20","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":54,"name":"Points Allowed 21-27 points","display_name":"Pts Allow 21-27","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":55,"name":"Points Allowed 28-34 points","display_name":"Pts Allow 28-34","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":56,"name":"Points Allowed 35+ points","display_name":"Pts Allow 35+","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":57,"name":"Offensive Fumble Return TD","display_name":"Fum Ret TD","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":58,"name":"Pick Sixes Thrown","display_name":"Pick Six","sort_order":"0","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":59,"name":"40+ Yard Completions","display_name":"40 Yd Comp","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":60,"name":"40+ Yard Passing Touchdowns","display_name":"40 Yd Pass TD","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":61,"name":"40+ Yard Run","display_name":"40 Yd Rush","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":62,"name":"40+ Yard Rushing Touchdowns","display_name":"40 Yd Rush TD","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":63,"name":"40+ Yard Receptions","display_name":"40 Yd Rec","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":64,"name":"40+ Yard Receiving Touchdowns","display_name":"40 Yd Rec TD","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":65,"name":"Tackles for Loss","display_name":"TFL","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":66,"name":"Turnover Return Yards","display_name":"TO Ret Yds","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":67,"name":"4th Down Stops","display_name":"4 Dwn Stops","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":68,"name":"Tackles for Loss","display_name":"TFL","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":69,"name":"Defensive Yards Allowed","display_name":"Def Yds Allow","sort_order":"0","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":70,"name":"Defensive Yards Allowed - Negative","display_name":"Yds Allow Neg","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":71,"name":"Defensive Yards Allowed 0-99","display_name":"Yds Allow 0-99","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":72,"name":"Defensive Yards Allowed 100-199","display_name":"Yds Allow 100-199","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":73,"name":"Defensive Yards Allowed 200-299","display_name":"Yds Allow 200-299","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":74,"name":"Defensive Yards Allowed 300-399","display_name":"Yds Allow 300-399","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":75,"name":"Defensive Yards Allowed 400-499","display_name":"Yds Allow 400-499","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":76,"name":"Defensive Yards Allowed 500+","display_name":"Yds Allow 500+","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":77,"name":"Three and Outs Forced","display_name":"3 and Outs","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":78,"name":"Targets","display_name":"Targets","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":79,"name":"Passing 1st Downs","display_name":"Pass 1st Downs","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":80,"name":"Receiving 1st Downs","display_name":"Rec 1st Downs","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":81,"name":"Rushing 1st Downs","display_name":"Rush 1st Downs","sort_order":"1","position_types":[{"position_type":"O"}]}},{"stat":{"stat_id":82,"name":"Extra Point Returned","display_name":"XPR","sort_order":"1","position_types":[{"position_type":"DT"}]}},{"stat":{"stat_id":83,"name":"Extra Point Returned","display_name":"XPR","sort_order":"1","position_types":[{"position_type":"DP"}]}},{"stat":{"stat_id":84,"name":"Field Goals Total Yards","display_name":"FG Yds","sort_order":"1","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":85,"name":"Field Goals Made","display_name":"FG Made","sort_order":"1","position_types":[{"position_type":"K"}]}},{"stat":{"stat_id":86,"name":"Field Goals Missed","display_name":"FG Miss","sort_order":"0","position_types":[{"position_type":"K"}]}}]}}],"time":"19.824028015137ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}
  "/game/{game_key}/position_types":
    get:
      tags: ["game resource"]
      summary: Detailed description of all player position types for the game.
      parameters:
        - in: path
          name: game_key
          required: true
          description: The game id, either the game code (e.g., nfl) for current year, or game id (e.g., 414) for specific game+year
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /game/414/position_types
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/game/414/position_types","game":[{"game_key":"414","game_id":"414","name":"Football","code":"nfl","type":"full","url":"https://football.fantasysports.yahoo.com/f1","season":"2022","is_registration_over":0,"is_game_over":0,"is_offseason":0,"is_live_draft_lobby_active":1},{"position_types":[{"position_type":{"type":"O","display_name":"Offense"}},{"position_type":{"type":"K","display_name":"Kickers"}},{"position_type":{"type":"DT","display_name":"Defense/Special Teams"}},{"position_type":{"type":"DP","display_name":"Defensive Players"}}]}],"time":"23.381948471069ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}                
  "/game/{game_key}/roster_positions":
    get:
      tags: ["game resource"]
      summary: Detailed description of all roster positions for the game.
      parameters:
        - in: path
          name: game_key
          required: true
          description: The game id, either the game code (e.g., nfl) for current year, or game id (e.g., 414) for specific game+year
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /game/414/roster_positions
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/game/414/roster_positions","game":[{"game_key":"414","game_id":"414","name":"Football","code":"nfl","type":"full","url":"https://football.fantasysports.yahoo.com/f1","season":"2022","is_registration_over":0,"is_game_over":0,"is_offseason":0,"is_live_draft_lobby_active":1},{"roster_positions":[{"roster_position":{"position":"QB","abbreviation":"QB","display_name":"Quarterback","position_type":"O"}},{"roster_position":{"position":"WR","abbreviation":"WR","display_name":"Wide Receiver","position_type":"O"}},{"roster_position":{"position":"RB","abbreviation":"RB","display_name":"Running Back","position_type":"O"}},{"roster_position":{"position":"TE","abbreviation":"TE","display_name":"Tight End","position_type":"O"}},{"roster_position":{"position":"W/T","abbreviation":"W/T","display_name":"Wide Receiver/Tight End","position_type":"O"}},{"roster_position":{"position":"W/R","abbreviation":"W/R","display_name":"Wide Receiver/Running Back","position_type":"O"}},{"roster_position":{"position":"W/R/T","abbreviation":"W/R/T","display_name":"Wide Receiver/Running Back/Tight End","position_type":"O"}},{"roster_position":{"position":"Q/W/R/T","abbreviation":"Q/W/R/T","display_name":"Quarterback/Wide Receiver/Running Back/Tight End","position_type":"O"}},{"roster_position":{"position":"K","abbreviation":"K","display_name":"Kicker","position_type":"K"}},{"roster_position":{"position":"DEF","abbreviation":"DEF","display_name":"Defense/Special Teams","position_type":"DT"}},{"roster_position":{"position":"D","abbreviation":"D","display_name":"Defensive Player","position_type":"DP"}},{"roster_position":{"position":"DB","abbreviation":"DB","display_name":"Defensive Back","position_type":"DP"}},{"roster_position":{"position":"DL","abbreviation":"DL","display_name":"Defensive Lineman","position_type":"DP"}},{"roster_position":{"position":"LB","abbreviation":"LB","display_name":"Linebacker","position_type":"DP"}},{"roster_position":{"position":"DT","abbreviation":"DT","display_name":"Defensive Tackle","position_type":"DP"}},{"roster_position":{"position":"DE","abbreviation":"DE","display_name":"Defensive End","position_type":"DP"}},{"roster_position":{"position":"CB","abbreviation":"CB","display_name":"Cornerback","position_type":"DP"}},{"roster_position":{"position":"S","abbreviation":"S","display_name":"Safety","position_type":"DP"}},{"roster_position":{"position":"BN","abbreviation":"BN","display_name":"Bench","is_bench":1}},{"roster_position":{"position":"IR","abbreviation":"IR","display_name":"Injured Reserve"}}]}],"time":"20.426988601685ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}                
  "/league/{league_key}/metadata":
    get:
      tags: ["League Resource"]
      summary: Returns metadata about one league, current or previous.
      parameters:
        - in: path
          name: league_key
          required: true
          description: The league key, includes either the game code (e.g., pnfl.l.431) for current year, or league id (e.g., 223.l.431) for specific league+year
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                $ref: "#/components/schemas/league_metadata"
              examples:
                json:
                  summary: A sample JSON response from /league/223.l.431
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/league/223.l.431","league":[{"league_key":"223.l.431","league_id":"431","name":"Y! Friends and Family League","url":"https://football.fantasysports.yahoo.com/2009/f2/431","logo_url":false,"draft_status":"postdraft","num_teams":14,"edit_key":"16","weekly_deadline":"","league_update_timestamp":"1262595518","scoring_type":"head","league_type":"private","renew":"","renewed":"242_334732","felo_tier":"platinum","iris_group_chat_id":"","allow_add_to_dl_extra_pos":0,"is_pro_league":"0","is_cash_league":"0","current_week":"16","start_week":"1","start_date":"2009-09-10","end_week":"16","end_date":"2009-12-28","is_finished":1,"game_code":"pnfl","season":"2009"}],"time":"26.06987953186ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}                
  "/league/{league_key}/settings":
    get:
      tags: ["League Resource"]
      summary: League settings. For instance, draft type, scoring type, roster positions, stat categories and modifiers, divisions.
      parameters:
        - in: path
          name: league_key
          required: true
          description: The league key, includes either the game code (e.g., pnfl.l.431) for current year, or league id (e.g., 223.l.431) for specific league+year
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /league/223.l.431/settings
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/league/223.l.431/settings","league":[{"league_key":"223.l.431","league_id":"431","name":"Y! Friends and Family League","url":"https://football.fantasysports.yahoo.com/2009/f2/431","logo_url":false,"draft_status":"postdraft","num_teams":14,"edit_key":"16","weekly_deadline":"","league_update_timestamp":"1262595518","scoring_type":"head","league_type":"private","renew":"","renewed":"242_334732","felo_tier":null,"iris_group_chat_id":"","allow_add_to_dl_extra_pos":0,"is_pro_league":"0","is_cash_league":"0","current_week":"16","start_week":"1","start_date":"2009-09-10","end_week":"16","end_date":"2009-12-28","is_finished":1,"game_code":"pnfl","season":"2009"},{"settings":[{"draft_type":"live","is_auction_draft":"0","scoring_type":"head","uses_playoff":"1","has_playoff_consolation_games":true,"playoff_start_week":"14","uses_playoff_reseeding":0,"uses_lock_eliminated_teams":0,"num_playoff_teams":"6","num_playoff_consolation_teams":0,"has_multiweek_championship":0,"waiver_type":"FS","waiver_rule":"suntue","uses_faab":"1","draft_time":"1250197200","post_draft_players":"FA","max_teams":"14","waiver_time":"1","trade_end_date":"2009-11-27","trade_ratify_type":"commish","trade_reject_time":"0","player_pool":"ALL","cant_cut_list":"none","draft_together":0,"is_publicly_viewable":"1","sendbird_channel_url":"","roster_positions":[{"roster_position":{"position":"QB","position_type":"O","count":1,"is_starting_position":1}},{"roster_position":{"position":"WR","position_type":"O","count":3,"is_starting_position":1}},{"roster_position":{"position":"RB","position_type":"O","count":2,"is_starting_position":1}},{"roster_position":{"position":"TE","position_type":"O","count":1,"is_starting_position":1}},{"roster_position":{"position":"W/R/T","position_type":"O","count":1,"is_starting_position":1}},{"roster_position":{"position":"K","position_type":"K","count":1,"is_starting_position":1}},{"roster_position":{"position":"DEF","position_type":"DT","count":1,"is_starting_position":1}},{"roster_position":{"position":"BN","count":4,"is_starting_position":0}}],"stat_categories":{"stats":[{"stat":{"stat_id":4,"enabled":"1","name":"Passing Yards","display_name":"Pass Yds","sort_order":"1","position_type":"O"}},{"stat":{"stat_id":5,"enabled":"1","name":"Passing Touchdowns","display_name":"Pass TD","sort_order":"1","position_type":"O"}},{"stat":{"stat_id":6,"enabled":"1","name":"Interceptions","display_name":"Int","sort_order":"0","position_type":"O"}},{"stat":{"stat_id":9,"enabled":"1","name":"Rushing Yards","display_name":"Rush Yds","sort_order":"1","position_type":"O"}},{"stat":{"stat_id":10,"enabled":"1","name":"Rushing Touchdowns","display_name":"Rush TD","sort_order":"1","position_type":"O"}},{"stat":{"stat_id":11,"enabled":"1","name":"Receptions","display_name":"Rec","sort_order":"1","position_type":"O"}},{"stat":{"stat_id":12,"enabled":"1","name":"Reception Yards","display_name":"Rec Yds","sort_order":"1","position_type":"O"}},{"stat":{"stat_id":13,"enabled":"1","name":"Reception Touchdowns","display_name":"Rec TD","sort_order":"1","position_type":"O"}},{"stat":{"stat_id":15,"enabled":"1","name":"Return Touchdowns","display_name":"Ret TD","sort_order":"1","position_type":"O"}},{"stat":{"stat_id":16,"enabled":"1","name":"2-Point Conversions","display_name":"2-PT","sort_order":"1","position_type":"O"}},{"stat":{"stat_id":18,"enabled":"1","name":"Fumbles Lost","display_name":"Fum Lost","sort_order":"0","position_type":"O"}},{"stat":{"stat_id":57,"enabled":"1","name":"Offensive Fumble Return TD","display_name":"Fum Ret TD","sort_order":"1","position_type":"O","is_excluded_from_display":"1"}},{"stat":{"stat_id":19,"enabled":"1","name":"Field Goals 0-19 Yards","display_name":"FG 0-19","sort_order":"1","position_type":"K"}},{"stat":{"stat_id":20,"enabled":"1","name":"Field Goals 20-29 Yards","display_name":"FG 20-29","sort_order":"1","position_type":"K"}},{"stat":{"stat_id":21,"enabled":"1","name":"Field Goals 30-39 Yards","display_name":"FG 30-39","sort_order":"1","position_type":"K"}},{"stat":{"stat_id":22,"enabled":"1","name":"Field Goals 40-49 Yards","display_name":"FG 40-49","sort_order":"1","position_type":"K"}},{"stat":{"stat_id":23,"enabled":"1","name":"Field Goals 50+ Yards","display_name":"FG 50+","sort_order":"1","position_type":"K"}},{"stat":{"stat_id":24,"enabled":"1","name":"Field Goals Missed 0-19 Yards","display_name":"FGM 0-19","sort_order":"0","position_type":"K"}},{"stat":{"stat_id":25,"enabled":"1","name":"Field Goals Missed 20-29 Yards","display_name":"FGM 20-29","sort_order":"0","position_type":"K"}},{"stat":{"stat_id":29,"enabled":"1","name":"Point After Attempt Made","display_name":"PAT Made","sort_order":"1","position_type":"K"}},{"stat":{"stat_id":30,"enabled":"1","name":"Point After Attempt Missed","display_name":"PAT Miss","sort_order":"0","position_type":"K"}},{"stat":{"stat_id":31,"enabled":"1","name":"Points Allowed","display_name":"Pts Allow","sort_order":"0","position_type":"DT","is_only_display_stat":"1"}},{"stat":{"stat_id":32,"enabled":"1","name":"Sack","display_name":"Sack","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":33,"enabled":"1","name":"Interception","display_name":"Int","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":34,"enabled":"1","name":"Fumble Recovery","display_name":"Fum Rec","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":35,"enabled":"1","name":"Touchdown","display_name":"TD","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":36,"enabled":"1","name":"Safety","display_name":"Safe","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":37,"enabled":"1","name":"Block Kick","display_name":"Blk Kick","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":50,"enabled":"1","name":"Points Allowed 0 points","display_name":"Pts Allow 0","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":51,"enabled":"1","name":"Points Allowed 1-6 points","display_name":"Pts Allow 1-6","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":52,"enabled":"1","name":"Points Allowed 7-13 points","display_name":"Pts Allow 7-13","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":53,"enabled":"1","name":"Points Allowed 14-20 points","display_name":"Pts Allow 14-20","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":54,"enabled":"1","name":"Points Allowed 21-27 points","display_name":"Pts Allow 21-27","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":55,"enabled":"1","name":"Points Allowed 28-34 points","display_name":"Pts Allow 28-34","sort_order":"1","position_type":"DT"}},{"stat":{"stat_id":56,"enabled":"1","name":"Points Allowed 35+ points","display_name":"Pts Allow 35+","sort_order":"1","position_type":"DT"}}]},"stat_modifiers":{"stats":[{"stat":{"stat_id":4,"value":"0.04"}},{"stat":{"stat_id":5,"value":"4"}},{"stat":{"stat_id":6,"value":"-1"}},{"stat":{"stat_id":9,"value":"0.1"}},{"stat":{"stat_id":10,"value":"6"}},{"stat":{"stat_id":11,"value":".75"}},{"stat":{"stat_id":12,"value":"0.1"}},{"stat":{"stat_id":13,"value":"6"}},{"stat":{"stat_id":15,"value":"6"}},{"stat":{"stat_id":16,"value":"2"}},{"stat":{"stat_id":18,"value":"-1"}},{"stat":{"stat_id":57,"value":"6"}},{"stat":{"stat_id":19,"value":"3"}},{"stat":{"stat_id":20,"value":"3"}},{"stat":{"stat_id":21,"value":"3"}},{"stat":{"stat_id":22,"value":"4"}},{"stat":{"stat_id":23,"value":"5"}},{"stat":{"stat_id":24,"value":"-3"}},{"stat":{"stat_id":25,"value":"-1"}},{"stat":{"stat_id":29,"value":"1"}},{"stat":{"stat_id":30,"value":"-.5"}},{"stat":{"stat_id":32,"value":"1"}},{"stat":{"stat_id":33,"value":"2"}},{"stat":{"stat_id":34,"value":"2"}},{"stat":{"stat_id":35,"value":"6"}},{"stat":{"stat_id":36,"value":"2"}},{"stat":{"stat_id":37,"value":"2"}},{"stat":{"stat_id":50,"value":"10"}},{"stat":{"stat_id":51,"value":"7"}},{"stat":{"stat_id":52,"value":"4"}},{"stat":{"stat_id":53,"value":"1"}},{"stat":{"stat_id":54,"value":"0"}},{"stat":{"stat_id":55,"value":"-1"}},{"stat":{"stat_id":56,"value":"-4"}}]},"divisions":[{"division":{"division_id":1,"name":"Family"}},{"division":{"division_id":2,"name":"Friends"}}],"pickem_enabled":"","uses_fractional_points":"1","uses_negative_points":"1"}]}],"time":"27.604818344116ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}                
  "/league/{league_key}/standings":
    get:
      tags: ["League Resource"]
      summary: Ranking of teams within the league. Accepts Teams as a sub-resource, and includes team_standings data by default beneath the teams.
      parameters:
        - in: path
          name: league_key
          required: true
          description: The league key, includes either the game code (e.g., pnfl.l.431) for current year, or league id (e.g., 223.l.431) for specific league+year
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /league/223.l.431/standings
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/league/223.l.431/standings","league":[{"league_key":"223.l.431","league_id":"431","name":"Y! Friends and Family League","url":"https://football.fantasysports.yahoo.com/2009/f2/431","logo_url":false,"draft_status":"postdraft","num_teams":14,"edit_key":"16","weekly_deadline":"","league_update_timestamp":"1262595518","scoring_type":"head","league_type":"private","renew":"","renewed":"242_334732","felo_tier":null,"iris_group_chat_id":"","allow_add_to_dl_extra_pos":0,"is_pro_league":"0","is_cash_league":"0","current_week":"16","start_week":"1","start_date":"2009-09-10","end_week":"16","end_date":"2009-12-28","is_finished":1,"game_code":"pnfl","season":"2009"},{"standings":[{"teams":{"0":{"team":[[{"team_key":"223.l.431.t.10"},{"team_id":"10"},{"name":"Gehlken"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/10"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":13},{"faab_balance":"0"},{"number_of_moves":"50"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"5","nickname":"--hidden--","guid":"4LAITFUXFASDNAXFWUOHWNU3BY"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1682.33"}},{"team_standings":{"rank":1,"playoff_seed":"2","outcome_totals":{"wins":"9","losses":"4","ties":0,"percentage":".692"},"divisional_outcome_totals":{"wins":"5","losses":"1","ties":0},"streak":{"type":"loss","value":"1"},"points_for":"1682.33","points_against":1433.26}}]},"1":{"team":[[{"team_key":"223.l.431.t.5"},{"team_id":"5"},{"name":"RotoExperts"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/5"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":14},{"faab_balance":"1"},{"number_of_moves":"21"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"12","nickname":"--hidden--","guid":"RW3ELDFMOFTES2EUAWQVCPPN7E"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1764.09"}},{"team_standings":{"rank":2,"playoff_seed":"1","outcome_totals":{"wins":"9","losses":"4","ties":0,"percentage":".692"},"divisional_outcome_totals":{"wins":"4","losses":"2","ties":0},"streak":{"type":"win","value":"6"},"points_for":"1764.09","points_against":1453.25}}]},"2":{"team":[[{"team_key":"223.l.431.t.8"},{"team_id":"8"},{"name":"Y! - Pianowski"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/8"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_10_100.gif"}}]},{"division_id":"1"},{"waiver_priority":11},{"faab_balance":"0"},{"number_of_moves":"30"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"6","nickname":"--hidden--","guid":"WMKEJTV3VUJA4VZWQ25O27W43M"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1569.48"}},{"team_standings":{"rank":3,"playoff_seed":"4","outcome_totals":{"wins":"8","losses":"5","ties":0,"percentage":".615"},"divisional_outcome_totals":{"wins":"4","losses":"2","ties":0},"streak":{"type":"loss","value":"2"},"points_for":"1569.48","points_against":1436.6399999999999}}]},"3":{"team":[[{"team_key":"223.l.431.t.12"},{"team_id":"12"},{"name":"Y! - Behrens"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/12"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":12},{"faab_balance":"0"},{"number_of_moves":"43"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"3","nickname":"--hidden--","guid":"E2KS77CDQPACRTSBCYPOFFW6AI"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1652.27"}},{"team_standings":{"rank":4,"playoff_seed":"3","outcome_totals":{"wins":"8","losses":"5","ties":0,"percentage":".615"},"divisional_outcome_totals":{"wins":"5","losses":"1","ties":0},"streak":{"type":"loss","value":"1"},"points_for":"1652.27","points_against":1523.64}}]},"4":{"team":[[{"team_key":"223.l.431.t.4"},{"team_id":"4"},{"name":"Salfino-Comcast/NESN"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/4"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":10},{"faab_balance":"0"},{"number_of_moves":"27"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"9","nickname":"--hidden--","guid":"PDLVXDDVXK2FRDI3FHRSS74F2U"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1621.98"}},{"team_standings":{"rank":5,"playoff_seed":"5","outcome_totals":{"wins":"7","losses":"6","ties":0,"percentage":".538"},"divisional_outcome_totals":{"wins":"3","losses":"3","ties":0},"streak":{"type":"loss","value":"1"},"points_for":"1621.98","points_against":1563.6499999999999}}]},"5":{"team":[[{"team_key":"223.l.431.t.11"},{"team_id":"11"},{"name":"FantasyGuru.com-Hans"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/11"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":9},{"faab_balance":"1"},{"number_of_moves":"32"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"4","nickname":"--hidden--","guid":"B7IJFDI5UUTN3AQ2F7ZEA4BDU4"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1469.00"}},{"team_standings":{"rank":6,"playoff_seed":"6","outcome_totals":{"wins":"7","losses":"6","ties":0,"percentage":".538"},"divisional_outcome_totals":{"wins":"2","losses":"4","ties":0},"streak":{"type":"win","value":"1"},"points_for":"1469.00","points_against":1444.2500000000002}}]},"6":{"team":[[{"team_key":"223.l.431.t.1"},{"team_id":"1"},{"name":"PFW - Blunda"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/1"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_01_100.gif"}}]},{"division_id":"2"},{"waiver_priority":8},{"faab_balance":"22"},{"number_of_moves":"18"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"13","nickname":"--hidden--","guid":"XNAXQZRDZPJ3RVFMY7ZTSWEFLU"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1461.71"}},{"team_standings":{"rank":"7","outcome_totals":{"wins":"7","losses":"6","ties":0,"percentage":".538"},"divisional_outcome_totals":{"wins":"3","losses":"3","ties":0},"streak":{"type":"win","value":"3"},"points_for":"1461.71","points_against":1452.1299999999999}}]},"7":{"team":[[{"team_key":"223.l.431.t.2"},{"team_id":"2"},{"name":"Y! - Evans"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/2"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":7},{"faab_balance":"35"},{"number_of_moves":"22"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"8","nickname":"--hidden--","guid":"RV2NLFT5LDNKUDOFSWSHIDINY4"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1512.53"}},{"team_standings":{"rank":"8","outcome_totals":{"wins":"6","losses":"7","ties":0,"percentage":".462"},"divisional_outcome_totals":{"wins":"2","losses":"4","ties":0},"streak":{"type":"win","value":"1"},"points_for":"1512.53","points_against":1478.44}}]},"8":{"team":[[{"team_key":"223.l.431.t.13"},{"team_id":"13"},{"name":"Erickson - RotoWire"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/13"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":6},{"faab_balance":"17"},{"number_of_moves":"29"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"11","nickname":"--hidden--","guid":"SB4Y5HVVUKMCTKZFQCXHIZ222E"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1484.56"}},{"team_standings":{"rank":"9","outcome_totals":{"wins":"6","losses":"7","ties":0,"percentage":".462"},"divisional_outcome_totals":{"wins":"3","losses":"3","ties":0},"streak":{"type":"win","value":"1"},"points_for":"1484.56","points_against":1640.37}}]},"9":{"team":[[{"team_key":"223.l.431.t.9"},{"team_id":"9"},{"name":"Y! - Funston"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/9"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":5},{"faab_balance":"10"},{"number_of_moves":"14"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"1","nickname":"--hidden--","guid":"3H7IQ3F2742K2ODHSJK5YXL23E","is_commissioner":"1"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1430.24"}},{"team_standings":{"rank":"10","outcome_totals":{"wins":"6","losses":"7","ties":0,"percentage":".462"},"divisional_outcome_totals":{"wins":"2","losses":"4","ties":0},"streak":{"type":"win","value":"4"},"points_for":"1430.24","points_against":1605.95}}]},"10":{"team":[[{"team_key":"223.l.431.t.7"},{"team_id":"7"},{"name":"RotoWire_Liss"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/7"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_10_100.gif"}}]},{"division_id":"2"},{"waiver_priority":4},{"faab_balance":"68"},{"number_of_moves":"24"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"7","nickname":"--hidden--","guid":"4BDB5LIG3IFVROH7SRBX44LBZM"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1424.56"}},{"team_standings":{"rank":"11","outcome_totals":{"wins":"6","losses":"7","ties":0,"percentage":".462"},"divisional_outcome_totals":{"wins":"3","losses":"3","ties":0},"streak":{"type":"loss","value":"1"},"points_for":"1424.56","points_against":1469.8}}]},"11":{"team":[[{"team_key":"223.l.431.t.3"},{"team_id":"3"},{"name":"RotoWire - Del Don"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/3"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_05_100.gif"}}]},{"division_id":"2"},{"waiver_priority":3},{"faab_balance":"0"},{"number_of_moves":"33"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"10","nickname":"--hidden--","guid":"4A5KVYHC7ZSEGOBFHFSO5Q64VA"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1366.89"}},{"team_standings":{"rank":"12","outcome_totals":{"wins":"6","losses":"7","ties":0,"percentage":".462"},"divisional_outcome_totals":{"wins":"3","losses":"3","ties":0},"streak":{"type":"loss","value":"3"},"points_for":"1366.89","points_against":1511.38}}]},"12":{"team":[[{"team_key":"223.l.431.t.6"},{"team_id":"6"},{"name":"Y! - Romig"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/6"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":2},{"faab_balance":"0"},{"number_of_moves":"25"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"2","nickname":"--hidden--","guid":"FS5M5LOFJRKVJNRIWG36ZUF7IQ"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1370.16"}},{"team_standings":{"rank":"13","outcome_totals":{"wins":"5","losses":"8","ties":0,"percentage":".385"},"divisional_outcome_totals":{"wins":"2","losses":"4","ties":0},"streak":{"type":"win","value":"1"},"points_for":"1370.16","points_against":1443.91}}]},"13":{"team":[[{"team_key":"223.l.431.t.14"},{"team_id":"14"},{"name":"Y! - Chase"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/14"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":1},{"faab_balance":"92"},{"number_of_moves":"12"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"14","nickname":"--hidden--","guid":"7CSOKBMM74MGFMSWHWJMM4FBQ4"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1237.47"}},{"team_standings":{"rank":"14","outcome_totals":{"wins":"1","losses":"12","ties":0,"percentage":".077"},"divisional_outcome_totals":{"wins":"1","losses":"5","ties":0},"streak":{"type":"loss","value":"12"},"points_for":"1237.47","points_against":1590.6}}]},"count":14}}]}],"time":"144.52600479126ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}                
  "/league/{league_key}/scoreboard":
    get:
      tags: ["League Resource"]
      summary: League scoreboard for the current week.
      parameters:
        - in: path
          name: league_key
          required: true
          description: The league key, includes either the game code (e.g., pnfl.l.431) for current year, or league id (e.g., 223.l.431) for specific league+year
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /league/223.l.431/standings
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/league/223.l.431/standings","league":[{"league_key":"223.l.431","league_id":"431","name":"Y! Friends and Family League","url":"https://football.fantasysports.yahoo.com/2009/f2/431","logo_url":false,"draft_status":"postdraft","num_teams":14,"edit_key":"16","weekly_deadline":"","league_update_timestamp":"1262595518","scoring_type":"head","league_type":"private","renew":"","renewed":"242_334732","felo_tier":null,"iris_group_chat_id":"","allow_add_to_dl_extra_pos":0,"is_pro_league":"0","is_cash_league":"0","current_week":"16","start_week":"1","start_date":"2009-09-10","end_week":"16","end_date":"2009-12-28","is_finished":1,"game_code":"pnfl","season":"2009"},{"standings":[{"teams":{"0":{"team":[[{"team_key":"223.l.431.t.10"},{"team_id":"10"},{"name":"Gehlken"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/10"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":13},{"faab_balance":"0"},{"number_of_moves":"50"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"5","nickname":"--hidden--","guid":"4LAITFUXFASDNAXFWUOHWNU3BY"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1682.33"}},{"team_standings":{"rank":1,"playoff_seed":"2","outcome_totals":{"wins":"9","losses":"4","ties":0,"percentage":".692"},"divisional_outcome_totals":{"wins":"5","losses":"1","ties":0},"streak":{"type":"loss","value":"1"},"points_for":"1682.33","points_against":1433.26}}]},"1":{"team":[[{"team_key":"223.l.431.t.5"},{"team_id":"5"},{"name":"RotoExperts"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/5"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":14},{"faab_balance":"1"},{"number_of_moves":"21"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"12","nickname":"--hidden--","guid":"RW3ELDFMOFTES2EUAWQVCPPN7E"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1764.09"}},{"team_standings":{"rank":2,"playoff_seed":"1","outcome_totals":{"wins":"9","losses":"4","ties":0,"percentage":".692"},"divisional_outcome_totals":{"wins":"4","losses":"2","ties":0},"streak":{"type":"win","value":"6"},"points_for":"1764.09","points_against":1453.25}}]},"2":{"team":[[{"team_key":"223.l.431.t.8"},{"team_id":"8"},{"name":"Y! - Pianowski"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/8"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_10_100.gif"}}]},{"division_id":"1"},{"waiver_priority":11},{"faab_balance":"0"},{"number_of_moves":"30"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"6","nickname":"--hidden--","guid":"WMKEJTV3VUJA4VZWQ25O27W43M"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1569.48"}},{"team_standings":{"rank":3,"playoff_seed":"4","outcome_totals":{"wins":"8","losses":"5","ties":0,"percentage":".615"},"divisional_outcome_totals":{"wins":"4","losses":"2","ties":0},"streak":{"type":"loss","value":"2"},"points_for":"1569.48","points_against":1436.6399999999999}}]},"3":{"team":[[{"team_key":"223.l.431.t.12"},{"team_id":"12"},{"name":"Y! - Behrens"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/12"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":12},{"faab_balance":"0"},{"number_of_moves":"43"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"3","nickname":"--hidden--","guid":"E2KS77CDQPACRTSBCYPOFFW6AI"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1652.27"}},{"team_standings":{"rank":4,"playoff_seed":"3","outcome_totals":{"wins":"8","losses":"5","ties":0,"percentage":".615"},"divisional_outcome_totals":{"wins":"5","losses":"1","ties":0},"streak":{"type":"loss","value":"1"},"points_for":"1652.27","points_against":1523.64}}]},"4":{"team":[[{"team_key":"223.l.431.t.4"},{"team_id":"4"},{"name":"Salfino-Comcast/NESN"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/4"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":10},{"faab_balance":"0"},{"number_of_moves":"27"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"9","nickname":"--hidden--","guid":"PDLVXDDVXK2FRDI3FHRSS74F2U"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1621.98"}},{"team_standings":{"rank":5,"playoff_seed":"5","outcome_totals":{"wins":"7","losses":"6","ties":0,"percentage":".538"},"divisional_outcome_totals":{"wins":"3","losses":"3","ties":0},"streak":{"type":"loss","value":"1"},"points_for":"1621.98","points_against":1563.6499999999999}}]},"5":{"team":[[{"team_key":"223.l.431.t.11"},{"team_id":"11"},{"name":"FantasyGuru.com-Hans"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/11"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":9},{"faab_balance":"1"},{"number_of_moves":"32"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"4","nickname":"--hidden--","guid":"B7IJFDI5UUTN3AQ2F7ZEA4BDU4"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1469.00"}},{"team_standings":{"rank":6,"playoff_seed":"6","outcome_totals":{"wins":"7","losses":"6","ties":0,"percentage":".538"},"divisional_outcome_totals":{"wins":"2","losses":"4","ties":0},"streak":{"type":"win","value":"1"},"points_for":"1469.00","points_against":1444.2500000000002}}]},"6":{"team":[[{"team_key":"223.l.431.t.1"},{"team_id":"1"},{"name":"PFW - Blunda"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/1"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_01_100.gif"}}]},{"division_id":"2"},{"waiver_priority":8},{"faab_balance":"22"},{"number_of_moves":"18"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"13","nickname":"--hidden--","guid":"XNAXQZRDZPJ3RVFMY7ZTSWEFLU"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1461.71"}},{"team_standings":{"rank":"7","outcome_totals":{"wins":"7","losses":"6","ties":0,"percentage":".538"},"divisional_outcome_totals":{"wins":"3","losses":"3","ties":0},"streak":{"type":"win","value":"3"},"points_for":"1461.71","points_against":1452.1299999999999}}]},"7":{"team":[[{"team_key":"223.l.431.t.2"},{"team_id":"2"},{"name":"Y! - Evans"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/2"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":7},{"faab_balance":"35"},{"number_of_moves":"22"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"8","nickname":"--hidden--","guid":"RV2NLFT5LDNKUDOFSWSHIDINY4"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1512.53"}},{"team_standings":{"rank":"8","outcome_totals":{"wins":"6","losses":"7","ties":0,"percentage":".462"},"divisional_outcome_totals":{"wins":"2","losses":"4","ties":0},"streak":{"type":"win","value":"1"},"points_for":"1512.53","points_against":1478.44}}]},"8":{"team":[[{"team_key":"223.l.431.t.13"},{"team_id":"13"},{"name":"Erickson - RotoWire"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/13"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":6},{"faab_balance":"17"},{"number_of_moves":"29"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"11","nickname":"--hidden--","guid":"SB4Y5HVVUKMCTKZFQCXHIZ222E"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1484.56"}},{"team_standings":{"rank":"9","outcome_totals":{"wins":"6","losses":"7","ties":0,"percentage":".462"},"divisional_outcome_totals":{"wins":"3","losses":"3","ties":0},"streak":{"type":"win","value":"1"},"points_for":"1484.56","points_against":1640.37}}]},"9":{"team":[[{"team_key":"223.l.431.t.9"},{"team_id":"9"},{"name":"Y! - Funston"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/9"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":5},{"faab_balance":"10"},{"number_of_moves":"14"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"1","nickname":"--hidden--","guid":"3H7IQ3F2742K2ODHSJK5YXL23E","is_commissioner":"1"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1430.24"}},{"team_standings":{"rank":"10","outcome_totals":{"wins":"6","losses":"7","ties":0,"percentage":".462"},"divisional_outcome_totals":{"wins":"2","losses":"4","ties":0},"streak":{"type":"win","value":"4"},"points_for":"1430.24","points_against":1605.95}}]},"10":{"team":[[{"team_key":"223.l.431.t.7"},{"team_id":"7"},{"name":"RotoWire_Liss"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/7"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_10_100.gif"}}]},{"division_id":"2"},{"waiver_priority":4},{"faab_balance":"68"},{"number_of_moves":"24"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"7","nickname":"--hidden--","guid":"4BDB5LIG3IFVROH7SRBX44LBZM"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1424.56"}},{"team_standings":{"rank":"11","outcome_totals":{"wins":"6","losses":"7","ties":0,"percentage":".462"},"divisional_outcome_totals":{"wins":"3","losses":"3","ties":0},"streak":{"type":"loss","value":"1"},"points_for":"1424.56","points_against":1469.8}}]},"11":{"team":[[{"team_key":"223.l.431.t.3"},{"team_id":"3"},{"name":"RotoWire - Del Don"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/3"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_05_100.gif"}}]},{"division_id":"2"},{"waiver_priority":3},{"faab_balance":"0"},{"number_of_moves":"33"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"10","nickname":"--hidden--","guid":"4A5KVYHC7ZSEGOBFHFSO5Q64VA"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1366.89"}},{"team_standings":{"rank":"12","outcome_totals":{"wins":"6","losses":"7","ties":0,"percentage":".462"},"divisional_outcome_totals":{"wins":"3","losses":"3","ties":0},"streak":{"type":"loss","value":"3"},"points_for":"1366.89","points_against":1511.38}}]},"12":{"team":[[{"team_key":"223.l.431.t.6"},{"team_id":"6"},{"name":"Y! - Romig"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/6"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":2},{"faab_balance":"0"},{"number_of_moves":"25"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"2","nickname":"--hidden--","guid":"FS5M5LOFJRKVJNRIWG36ZUF7IQ"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1370.16"}},{"team_standings":{"rank":"13","outcome_totals":{"wins":"5","losses":"8","ties":0,"percentage":".385"},"divisional_outcome_totals":{"wins":"2","losses":"4","ties":0},"streak":{"type":"win","value":"1"},"points_for":"1370.16","points_against":1443.91}}]},"13":{"team":[[{"team_key":"223.l.431.t.14"},{"team_id":"14"},{"name":"Y! - Chase"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/14"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":1},{"faab_balance":"92"},{"number_of_moves":"12"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"14","nickname":"--hidden--","guid":"7CSOKBMM74MGFMSWHWJMM4FBQ4"}}]}],{"team_points":{"coverage_type":"season","season":"2009","total":"1237.47"}},{"team_standings":{"rank":"14","outcome_totals":{"wins":"1","losses":"12","ties":0,"percentage":".077"},"divisional_outcome_totals":{"wins":"1","losses":"5","ties":0},"streak":{"type":"loss","value":"12"},"points_for":"1237.47","points_against":1590.6}}]},"count":14}}]}],"time":"173.66290092468ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}              
  "/league/{league_key}/scoreboard;week={week}":
    get:
      tags: ["League Resource"]
      summary: League scoreboard for the current week.
      parameters:
        - in: path
          name: league_key
          required: true
          description: The league key, includes either the game code (e.g., pnfl.l.431) for current year, or league id (e.g., 223.l.431) for specific league+year
          schema:
            type: string
        - in: path
          name: week
          required: true
          description: The specific week number.
          schema:
            type: number
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /league/223.l.431/scoreboard;week=2
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/league/223.l.431/scoreboard;week=2","league":[{"league_key":"223.l.431","league_id":"431","name":"Y! Friends and Family League","url":"https://football.fantasysports.yahoo.com/2009/f2/431","logo_url":false,"draft_status":"postdraft","num_teams":14,"edit_key":"16","weekly_deadline":"","league_update_timestamp":"1262595518","scoring_type":"head","league_type":"private","renew":"","renewed":"242_334732","felo_tier":null,"iris_group_chat_id":"","allow_add_to_dl_extra_pos":0,"is_pro_league":"0","is_cash_league":"0","current_week":"16","start_week":"1","start_date":"2009-09-10","end_week":"16","end_date":"2009-12-28","is_finished":1,"game_code":"pnfl","season":"2009"},{"scoreboard":{"0":{"matchups":{"0":{"matchup":{"0":{"teams":{"0":{"team":[[{"team_key":"223.l.431.t.1"},{"team_id":"1"},{"name":"PFW - Blunda"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/1"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_01_100.gif"}}]},{"division_id":"2"},{"waiver_priority":8},{"faab_balance":"22"},{"number_of_moves":"18"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"13","nickname":"--hidden--","guid":"XNAXQZRDZPJ3RVFMY7ZTSWEFLU"}}]}],{"win_probability":0,"team_points":{"coverage_type":"week","week":"2","total":"97.69"},"team_projected_points":{"coverage_type":"week","week":"2","total":"111.91"}}]},"1":{"team":[[{"team_key":"223.l.431.t.9"},{"team_id":"9"},{"name":"Y! - Funston"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/9"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":5},{"faab_balance":"10"},{"number_of_moves":"14"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"1","nickname":"--hidden--","guid":"3H7IQ3F2742K2ODHSJK5YXL23E","is_commissioner":"1"}}]}],{"win_probability":1,"team_points":{"coverage_type":"week","week":"2","total":"112.23"},"team_projected_points":{"coverage_type":"week","week":"2","total":"99.10"}}]},"count":2}},"week":"2","week_start":"2009-09-15","week_end":"2009-09-21","status":"postevent","is_playoffs":"0","is_consolation":"0","is_matchup_recap_available":0,"is_tied":0,"winner_team_key":"223.l.431.t.9"}},"1":{"matchup":{"0":{"teams":{"0":{"team":[[{"team_key":"223.l.431.t.2"},{"team_id":"2"},{"name":"Y! - Evans"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/2"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":7},{"faab_balance":"35"},{"number_of_moves":"22"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"8","nickname":"--hidden--","guid":"RV2NLFT5LDNKUDOFSWSHIDINY4"}}]}],{"win_probability":0,"team_points":{"coverage_type":"week","week":"2","total":"90.39"},"team_projected_points":{"coverage_type":"week","week":"2","total":"110.64"}}]},"1":{"team":[[{"team_key":"223.l.431.t.10"},{"team_id":"10"},{"name":"Gehlken"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/10"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":13},{"faab_balance":"0"},{"number_of_moves":"50"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"5","nickname":"--hidden--","guid":"4LAITFUXFASDNAXFWUOHWNU3BY"}}]}],{"win_probability":1,"team_points":{"coverage_type":"week","week":"2","total":"99.94"},"team_projected_points":{"coverage_type":"week","week":"2","total":"111.06"}}]},"count":2}},"week":"2","week_start":"2009-09-15","week_end":"2009-09-21","status":"postevent","is_playoffs":"0","is_consolation":"0","is_matchup_recap_available":0,"is_tied":0,"winner_team_key":"223.l.431.t.10"}},"2":{"matchup":{"0":{"teams":{"0":{"team":[[{"team_key":"223.l.431.t.3"},{"team_id":"3"},{"name":"RotoWire - Del Don"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/3"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_05_100.gif"}}]},{"division_id":"2"},{"waiver_priority":3},{"faab_balance":"0"},{"number_of_moves":"33"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"10","nickname":"--hidden--","guid":"4A5KVYHC7ZSEGOBFHFSO5Q64VA"}}]}],{"win_probability":0,"team_points":{"coverage_type":"week","week":"2","total":"96.94"},"team_projected_points":{"coverage_type":"week","week":"2","total":"100.53"}}]},"1":{"team":[[{"team_key":"223.l.431.t.12"},{"team_id":"12"},{"name":"Y! - Behrens"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/12"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":12},{"faab_balance":"0"},{"number_of_moves":"43"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"3","nickname":"--hidden--","guid":"E2KS77CDQPACRTSBCYPOFFW6AI"}}]}],{"win_probability":1,"team_points":{"coverage_type":"week","week":"2","total":"158.20"},"team_projected_points":{"coverage_type":"week","week":"2","total":"116.72"}}]},"count":2}},"week":"2","week_start":"2009-09-15","week_end":"2009-09-21","status":"postevent","is_playoffs":"0","is_consolation":"0","is_matchup_recap_available":0,"is_tied":0,"winner_team_key":"223.l.431.t.12"}},"3":{"matchup":{"0":{"teams":{"0":{"team":[[{"team_key":"223.l.431.t.4"},{"team_id":"4"},{"name":"Salfino-Comcast/NESN"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/4"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":10},{"faab_balance":"0"},{"number_of_moves":"27"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"9","nickname":"--hidden--","guid":"PDLVXDDVXK2FRDI3FHRSS74F2U"}}]}],{"win_probability":0,"team_points":{"coverage_type":"week","week":"2","total":"137.12"},"team_projected_points":{"coverage_type":"week","week":"2","total":"119.28"}}]},"1":{"team":[[{"team_key":"223.l.431.t.5"},{"team_id":"5"},{"name":"RotoExperts"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/5"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":14},{"faab_balance":"1"},{"number_of_moves":"21"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"12","nickname":"--hidden--","guid":"RW3ELDFMOFTES2EUAWQVCPPN7E"}}]}],{"win_probability":1,"team_points":{"coverage_type":"week","week":"2","total":"193.32"},"team_projected_points":{"coverage_type":"week","week":"2","total":"128.91"}}]},"count":2}},"week":"2","week_start":"2009-09-15","week_end":"2009-09-21","status":"postevent","is_playoffs":"0","is_consolation":"0","is_matchup_recap_available":0,"is_tied":0,"winner_team_key":"223.l.431.t.5"}},"4":{"matchup":{"0":{"teams":{"0":{"team":[[{"team_key":"223.l.431.t.6"},{"team_id":"6"},{"name":"Y! - Romig"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/6"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":2},{"faab_balance":"0"},{"number_of_moves":"25"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"2","nickname":"--hidden--","guid":"FS5M5LOFJRKVJNRIWG36ZUF7IQ"}}]}],{"win_probability":0,"team_points":{"coverage_type":"week","week":"2","total":"108.15"},"team_projected_points":{"coverage_type":"week","week":"2","total":"110.06"}}]},"1":{"team":[[{"team_key":"223.l.431.t.7"},{"team_id":"7"},{"name":"RotoWire_Liss"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/7"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_10_100.gif"}}]},{"division_id":"2"},{"waiver_priority":4},{"faab_balance":"68"},{"number_of_moves":"24"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"7","nickname":"--hidden--","guid":"4BDB5LIG3IFVROH7SRBX44LBZM"}}]}],{"win_probability":1,"team_points":{"coverage_type":"week","week":"2","total":"144.49"},"team_projected_points":{"coverage_type":"week","week":"2","total":"103.62"}}]},"count":2}},"week":"2","week_start":"2009-09-15","week_end":"2009-09-21","status":"postevent","is_playoffs":"0","is_consolation":"0","is_matchup_recap_available":0,"is_tied":0,"winner_team_key":"223.l.431.t.7"}},"5":{"matchup":{"0":{"teams":{"0":{"team":[[{"team_key":"223.l.431.t.8"},{"team_id":"8"},{"name":"Y! - Pianowski"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/8"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_10_100.gif"}}]},{"division_id":"1"},{"waiver_priority":11},{"faab_balance":"0"},{"number_of_moves":"30"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"6","nickname":"--hidden--","guid":"WMKEJTV3VUJA4VZWQ25O27W43M"}}]}],{"win_probability":0,"team_points":{"coverage_type":"week","week":"2","total":"94.18"},"team_projected_points":{"coverage_type":"week","week":"2","total":"119.52"}}]},"1":{"team":[[{"team_key":"223.l.431.t.13"},{"team_id":"13"},{"name":"Erickson - RotoWire"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/13"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":6},{"faab_balance":"17"},{"number_of_moves":"29"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"11","nickname":"--hidden--","guid":"SB4Y5HVVUKMCTKZFQCXHIZ222E"}}]}],{"win_probability":1,"team_points":{"coverage_type":"week","week":"2","total":"119.30"},"team_projected_points":{"coverage_type":"week","week":"2","total":"116.98"}}]},"count":2}},"week":"2","week_start":"2009-09-15","week_end":"2009-09-21","status":"postevent","is_playoffs":"0","is_consolation":"0","is_matchup_recap_available":0,"is_tied":0,"winner_team_key":"223.l.431.t.13"}},"6":{"matchup":{"0":{"teams":{"0":{"team":[[{"team_key":"223.l.431.t.11"},{"team_id":"11"},{"name":"FantasyGuru.com-Hans"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/11"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":9},{"faab_balance":"1"},{"number_of_moves":"32"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"4","nickname":"--hidden--","guid":"B7IJFDI5UUTN3AQ2F7ZEA4BDU4"}}]}],{"win_probability":1,"team_points":{"coverage_type":"week","week":"2","total":"113.34"},"team_projected_points":{"coverage_type":"week","week":"2","total":"122.11"}}]},"1":{"team":[[{"team_key":"223.l.431.t.14"},{"team_id":"14"},{"name":"Y! - Chase"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/14"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":1},{"faab_balance":"92"},{"number_of_moves":"12"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"14","nickname":"--hidden--","guid":"7CSOKBMM74MGFMSWHWJMM4FBQ4"}}]}],{"win_probability":0,"team_points":{"coverage_type":"week","week":"2","total":"89.29"},"team_projected_points":{"coverage_type":"week","week":"2","total":"105.93"}}]},"count":2}},"week":"2","week_start":"2009-09-15","week_end":"2009-09-21","status":"postevent","is_playoffs":"0","is_consolation":"0","is_matchup_recap_available":0,"is_tied":0,"winner_team_key":"223.l.431.t.11"}},"count":7}},"week":"2"}}],"time":"834.30218696594ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}                     
  "/league/{league_key}/teams":
    get:
      tags: ["League Resource"]
      summary: All teams in the league.
      parameters:
        - in: path
          name: league_key
          required: true
          description: The league key, includes either the game code (e.g., pnfl.l.431) for current year, or league id (e.g., 223.l.431) for specific league+year
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /league/223.l.431/teams
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/league/223.l.431/teams","league":[{"league_key":"223.l.431","league_id":"431","name":"Y! Friends and Family League","url":"https://football.fantasysports.yahoo.com/2009/f2/431","logo_url":false,"draft_status":"postdraft","num_teams":14,"edit_key":"16","weekly_deadline":"","league_update_timestamp":"1262595518","scoring_type":"head","league_type":"private","renew":"","renewed":"242_334732","felo_tier":null,"iris_group_chat_id":"","allow_add_to_dl_extra_pos":0,"is_pro_league":"0","is_cash_league":"0","current_week":"16","start_week":"1","start_date":"2009-09-10","end_week":"16","end_date":"2009-12-28","is_finished":1,"game_code":"pnfl","season":"2009"},{"teams":{"0":{"team":[[{"team_key":"223.l.431.t.1"},{"team_id":"1"},{"name":"PFW - Blunda"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/1"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_01_100.gif"}}]},{"division_id":"2"},{"waiver_priority":8},{"faab_balance":"22"},{"number_of_moves":"18"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"13","nickname":"--hidden--","guid":"XNAXQZRDZPJ3RVFMY7ZTSWEFLU"}}]}]]},"1":{"team":[[{"team_key":"223.l.431.t.2"},{"team_id":"2"},{"name":"Y! - Evans"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/2"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":7},{"faab_balance":"35"},{"number_of_moves":"22"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"8","nickname":"--hidden--","guid":"RV2NLFT5LDNKUDOFSWSHIDINY4"}}]}]]},"2":{"team":[[{"team_key":"223.l.431.t.3"},{"team_id":"3"},{"name":"RotoWire - Del Don"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/3"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_05_100.gif"}}]},{"division_id":"2"},{"waiver_priority":3},{"faab_balance":"0"},{"number_of_moves":"33"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"10","nickname":"--hidden--","guid":"4A5KVYHC7ZSEGOBFHFSO5Q64VA"}}]}]]},"3":{"team":[[{"team_key":"223.l.431.t.4"},{"team_id":"4"},{"name":"Salfino-Comcast/NESN"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/4"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":10},{"faab_balance":"0"},{"number_of_moves":"27"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"9","nickname":"--hidden--","guid":"PDLVXDDVXK2FRDI3FHRSS74F2U"}}]}]]},"4":{"team":[[{"team_key":"223.l.431.t.5"},{"team_id":"5"},{"name":"RotoExperts"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/5"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":14},{"faab_balance":"1"},{"number_of_moves":"21"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"12","nickname":"--hidden--","guid":"RW3ELDFMOFTES2EUAWQVCPPN7E"}}]}]]},"5":{"team":[[{"team_key":"223.l.431.t.6"},{"team_id":"6"},{"name":"Y! - Romig"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/6"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":2},{"faab_balance":"0"},{"number_of_moves":"25"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"2","nickname":"--hidden--","guid":"FS5M5LOFJRKVJNRIWG36ZUF7IQ"}}]}]]},"6":{"team":[[{"team_key":"223.l.431.t.7"},{"team_id":"7"},{"name":"RotoWire_Liss"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/7"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_10_100.gif"}}]},{"division_id":"2"},{"waiver_priority":4},{"faab_balance":"68"},{"number_of_moves":"24"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"7","nickname":"--hidden--","guid":"4BDB5LIG3IFVROH7SRBX44LBZM"}}]}]]},"7":{"team":[[{"team_key":"223.l.431.t.8"},{"team_id":"8"},{"name":"Y! - Pianowski"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/8"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/lq/i/us/sp/fn/default/full/nfl/icon_10_100.gif"}}]},{"division_id":"1"},{"waiver_priority":11},{"faab_balance":"0"},{"number_of_moves":"30"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"6","nickname":"--hidden--","guid":"WMKEJTV3VUJA4VZWQ25O27W43M"}}]}]]},"8":{"team":[[{"team_key":"223.l.431.t.9"},{"team_id":"9"},{"name":"Y! - Funston"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/9"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":5},{"faab_balance":"10"},{"number_of_moves":"14"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"1","nickname":"--hidden--","guid":"3H7IQ3F2742K2ODHSJK5YXL23E","is_commissioner":"1"}}]}]]},"9":{"team":[[{"team_key":"223.l.431.t.10"},{"team_id":"10"},{"name":"Gehlken"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/10"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":13},{"faab_balance":"0"},{"number_of_moves":"50"},{"number_of_trades":"2"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"5","nickname":"--hidden--","guid":"4LAITFUXFASDNAXFWUOHWNU3BY"}}]}]]},"10":{"team":[[{"team_key":"223.l.431.t.11"},{"team_id":"11"},{"name":"FantasyGuru.com-Hans"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/11"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":9},{"faab_balance":"1"},{"number_of_moves":"32"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"4","nickname":"--hidden--","guid":"B7IJFDI5UUTN3AQ2F7ZEA4BDU4"}}]}]]},"11":{"team":[[{"team_key":"223.l.431.t.12"},{"team_id":"12"},{"name":"Y! - Behrens"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/12"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":12},{"faab_balance":"0"},{"number_of_moves":"43"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},{"clinched_playoffs":1},{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"3","nickname":"--hidden--","guid":"E2KS77CDQPACRTSBCYPOFFW6AI"}}]}]]},"12":{"team":[[{"team_key":"223.l.431.t.13"},{"team_id":"13"},{"name":"Erickson - RotoWire"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/13"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"2"},{"waiver_priority":6},{"faab_balance":"17"},{"number_of_moves":"29"},{"number_of_trades":0},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"11","nickname":"--hidden--","guid":"SB4Y5HVVUKMCTKZFQCXHIZ222E"}}]}]]},"13":{"team":[[{"team_key":"223.l.431.t.14"},{"team_id":"14"},{"name":"Y! - Chase"},[],{"url":"https://football.fantasysports.yahoo.com/2009/f2/431/14"},{"team_logos":[{"team_logo":{"size":"large","url":"https://s.yimg.com/dh/ap/fantasy/img/profile_96.png"}}]},{"division_id":"1"},{"waiver_priority":1},{"faab_balance":"92"},{"number_of_moves":"12"},{"number_of_trades":"1"},{"roster_adds":{"coverage_type":"week","coverage_value":17,"value":"0"}},[],{"league_scoring_type":"head"},[],[],{"has_draft_grade":0},[],[],{"managers":[{"manager":{"manager_id":"14","nickname":"--hidden--","guid":"7CSOKBMM74MGFMSWHWJMM4FBQ4"}}]}]]},"count":14}}],"time":"136.89279556274ms","copyright":"Data provided by Yahoo! and STATS, LLC","refresh_rate":"60"}}           
  "/league/{league_key}/players":
    get:
      tags: ["League Resource"]
      summary: The league's eligible players.
      parameters:
        - in: path
          name: league_key
          required: true
          description: The league key, includes either the game code (e.g., pnfl.l.431) for current year, or league id (e.g., 223.l.431) for specific league+year
          schema:
            type: string
      responses:
        "200":
          description: Success
          content: 
            application/json:
              schema: 
                type: object
              examples:
                json:
                  summary: A sample JSON response from /league/223.l.431/players
                  value: {"fantasy_content":{"xml:lang":"en-US","yahoo:uri":"/fantasy/v2/league/223.l.431/players","league":[{"league_key":"223.l.431","league_id":"431","name":"Y! Friends and Family League","url":"https://football.fantasysports.yahoo.com/2009/f2/431","logo_url":false,"draft_status":"postdraft","num_teams":14,"edit_key":"16","weekly_deadline":"","league_update_timestamp":"1262595518","scoring_type":"head","league_type":"private","renew":"","renewed":"242_334732","felo_tier":null,"iris_group_chat_id":"","allow_add_to_dl_extra_pos":0,"is_pro_league":"0","is_cash_league":"0","current_week":"16","start_week":"1","start_date":"2009-09-10","end_week":"16","end_date":"2009-12-28","is_finished":1,"game_code":"pnfl","season":"2009"},{"players":{"0":{"player":[[{"player_key":"223.p.549"},{"player_id":"549"},{"name":{"full":"John Carney","first":"John","last":"Carney","ascii_first":"John","ascii_last":"Carney"}},{"url":"https://sports.yahoo.com/nfl/players/549"},{"editorial_player_key":"nfl.p.549"},{"editorial_team_key":"nfl.t.18"},{"editorial_team_full_name":"New Orleans Saints"},{"editorial_team_abbr":"NO"},{"editorial_team_url":"https://sports.yahoo.com/nfl/teams/new-orleans/"},{"bye_weeks":{"week":"5"}},{"is_keeper":{"status":false,"cost":false,"kept":false}},{"uniform_number":"3"},{"display_position":"K"},{"headshot":{"url":"https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAOHWf2QKLjIw--~C/YXBwaWQ9eXNwb3J0cztjaD0yMDA7Y3I9MTtjdz0xNTM7ZHg9NzQ7ZHk9MDtmaT11bGNyb3A7aD02MDtxPTEwMDt3PTQ2/https://s.yimg.com/dh/ap/default/140828/silhouette@2x.png","size":"small"},"image_url":"https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAOHWf2QKLjIw--~C/YXBwaWQ9eXNwb3J0cztjaD0yMDA7Y3I9MTtjdz0xNTM7ZHg9NzQ7ZHk9MDtmaT11bGNyb3A7aD02MDtxPTEwMDt3PTQ2/https://s.yimg.com/dh/ap/default/140828/silhouette@2x.png"},{"is_undroppable":"0"},{"position_type":"K"},{"primary_position":"K"},{"eligible_positions":[{"position":"K"}]},[],[],[]]]},"1":{"player":[[{"player_key":"223.p.1025"},{"player_id":"1025"},{"name":{"full":"Brett Favre","first":"Brett","last":"Favre","ascii_first":"Brett","ascii_last":"Favre"}},{"url":"https://sports.yahoo.com/nfl/players/1025"},{"editorial_player_key":"nfl.p.1025"},{"editorial_team_key":"nfl.t.16"},{"editorial_team_full_name":"Minnesota Vikings"},{"editorial_team_abbr":"Min"},{"editorial_team_url":"https://sports.yahoo.com/nfl/teams/minnesota/"},{"bye_weeks":{"week":"9"}},{"is_keeper":{"status":false,"cost":false,"kept":false}},{"uniform_number":"4"},{"display_position":"QB"},{"headshot":{"url":"https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAOHWf2QKLjIw--~C/YXBwaWQ9eXNwb3J0cztjaD0yMDA7Y3I9MTtjdz0xNTM7ZHg9NzQ7ZHk9MDtmaT11bGNyb3A7aD02MDtxPTEwMDt3PTQ2/https://s.yimg.com/dh/ap/default/140828/silhouette@2x.png","size":"small"},"image_url":"https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAOHWf2QKLjIw--~C/YXBwaWQ9eXNwb3J0cztjaD0yMDA7Y3I9MTtjdz0xNTM7ZHg9NzQ7ZHk9MDtmaT11bGNyb3A7aD02MDtxPTEwMDt3PTQ2/https://s.yimg.com/dh/ap/default/140828/silhouette@2x.png"},{"is_undroppable":"0"},{"position_type":"O"},{"primary_position":"QB"},{"eligible_positions":[{"position":"QB"}]},[],[],[]]]},"2":{"player":[[{"player_key":"223.p.1078"},{"player_id":"1078"},{"name":{"full":"Matt Stover","first":"Matt","last":"Stover","ascii_first":"Matt","ascii_last":"Stover"}},{"url":"https://sports.yahoo.com/nfl/players/1078"},{"editorial_player_key":"nfl.p.1078"},{"editorial_team_key":"nfl.t.11"},{"editorial_team_full_name":"Indianapolis Colts"},{"editorial_team_abbr":"Ind"},{"editorial_team_url":"https://sports.yahoo.com/nfl/teams/indianapolis/"},{"bye_weeks":{"week":"6"}},{"is_keeper":{"status":false,"cost":false,"kept":false}},{"uniform_number":"3"},{"display_position":"K"},{"headshot":{"url":"https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAOHWf2QKLjIw--~C/YXBwaWQ9eXNwb3J0cztjaD0yMDA7Y3I9MTtjdz0xNTM7ZHg9NzQ7ZHk9MDtmaT11bGNyb3A7aD02MDtxPTEwMDt3PTQ2/https://s.yimg.com/dh/ap/default/140828/silhouette@2x.png","size":"small"},"image_url":"https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAOHWf2QKLjIw--~C/YXBwaWQ9eXNwb3J0cztjaD0yMDA7Y3I9MTtjdz0xNTM7ZHg9NzQ7ZHk9MDtmaT11bGNyb3A7aD02MDtxPTEwMDt3PTQ2/https://s.yimg.com/dh/ap/default/140828/silhouette@2x.png"},{"is_undroppable":"0"},{"position_type":"K"},{"primary_position":"K"},{"eligible_positions":[{"position":"K"}]},[],[],[]]]},"3":{"player":[[{"player_key":"223.p.1111"},{"player_id":"1111"},{"name":{"full":"John Kasay","first":"John","last":"Kasay","ascii_first":"John","ascii_last":"Kasay"}},{"url":"https://sports.yahoo.com/nfl/players/1111"},{"editorial_player_key":"nfl.p.1111"},{"editorial_team_key":"nfl.t.29"},{"editorial_team_full_name":"Carolina Panthers"},{"editorial_team_abbr":"Car"},{"editorial_team_url":"https://sports.yahoo.com/nfl/teams/carolina/"},{"bye_weeks":{"week":"4"}},{"is_keeper":{"status":false,"cost":false,"kept":false}},{"uniform_number":"2"},{"display_position":"K"},{"headshot":{"url":"https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAOHWf2QKLjIw--~C/YXBwaWQ9eXNwb3J0cztjaD0yMDA7Y3I9MTtjdz0xNTM7ZHg9NzQ7ZHk9MDtmaT11bGNyb3A7aD02MDtxPTEwMDt3PTQ2/https://s.yimg.com/dh/ap/default/140828/silhouette@2x.png","size":"small"},"image_url":"https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAOHWf2QKLjIw--~C/YXBwaWQ9eXNwb3J0cztjaD0yMDA7Y3I9MTtjdz0xNTM7ZHg9NzQ7ZHk9MDtmaT11bGNyb3A7aD02MDtxPTEwMDt3PTQ2/https://s.yimg.com/dh/ap/default/140828/silhouette@2x.png"},{"is_undroppable
[...]
